/* General styling */
body {
    background-color: #FAEFDE;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .main-container {
    width: 1280px;
    height: 832px;
    position: relative;
  }
  
  /* Profile Section */
  .profile-container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 140px;
    left: 123px;
  }
  
  .profile-photo-border {
    width: 238px;
    height: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FC7070;
    border-radius: 10px;
    border: 1px solid black;
  }
  
  .profile-photo {

    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 3px solid #FCF1FD;
    object-fit: cover;
  }
  
  .profile-name-section {
    width: 794px;
    height: 169px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding-left: 40px; /* Tambahkan padding di kiri agar nama tidak terlalu dempet */
    background-color: #FC7070;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 10px;
    color: white;
  }
  
  .profile-name {
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    padding-top: 20px; /* Menambahkan padding atas untuk memberi jarak antara nama dan border */

  }
  
  .profile-subtitle {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  
  .logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF2020;
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  
  /* Options Section */
  .options-container {
    width: 1035px;
    position: absolute;
    top: 379px;
    left: 123px;
    background-color: #FC7070;
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .option-item {
    width: 959px;
    padding: 10px;
    background-color: #FF2020;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow-icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .arrow-icon::before {
    content: '>';
    color: #1C1B1F;
    font-size: 20px;
    position: absolute;
  }
  